window {
  background-color: #16161d;
  border: 2px solid #fdbc4b;
  border-radius: 12px;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
}

#input {
  color: #e6e6e1;
  background-color: transparent;
  border: none;
  margin: 10px;
  padding: 8px;
}

#entry {
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  color: #8e959e;
}

#entry:selected {
  background-color: #242d41;
  color: #fdbc4b;
}

